.container {
    width: 100%;
    height: 600px;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

.angular-gradient {
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: #fff;
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}